<h1>Take Action!</h1>

<p>This page lets you flag your project as a 'Take Action!'. Which means that it will
appear in the 'Take Action!' section and any visitor will be able to pledge for it.</p>
<p>Please note that this means your project should describe a simple action that
anybody can accomplish easily.
</p>
