<div class="floatRight width25 lightBlueBg horzPad">

<h3>User <span class="dark">Menu</span></h3>

<ul class="submenu2">
  <li><%= link_to "Summary", {:action=>"home"} %></li>
  <li><%= link_to "Profile", {:action=>"profile"} %></li>
  <li><%= link_to "Log Out", {:controller=>"login", :action=>"logout"} %></li>
</ul>

</div>
